.footer {
    margin-top: 12px;
    color: $color-secondary;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 24px 0 12px;
    border-top: 1px solid $color-border;

    @include breakpoint(tablet) {
        margin-top: 24px;
    }
    
    &__icons {
        padding: 48px 0;
        border-top: 1px solid $color-border;
        border-bottom: 1px solid $color-border;
        margin-bottom: 24px;
    }

    &__icon {
        display: inline-block;
        font-size: 1.8em;
        color: inherit;
        padding: 0 12px;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
            color: lighten($color-secondary, 10%);
        }
    }

    &__text {
        font-weight: 100;
        margin-bottom: 12px;
        font-size: 0.9em;
    }
}