.portfolio {
    padding-top: 12px;
    border-top: 1px solid $color-border;

    @include breakpoint(tablet) {
        padding-top: 24px;
    }
    
    @include breakpoint(desktop) {
        padding-top: 48px;
        padding-bottom: 24px;
    }

    &__wrapper {
        display: flex;
        flex-flow: row wrap;
        @include breakpoint (tablet) {
            margin-right: -2px;
        }
    }

    &__post {
        position: relative;
        flex: 100%;
        cursor: pointer;
        margin-bottom: 6px;

        @include breakpoint(tablet) {
            flex: calc(100% / 2 - 2px);
            margin-bottom: 2px;
            margin-right: 2px;
        }
        @include breakpoint(desktop) {
            flex: calc(100% / 3 - 2px);
            max-width: calc(100% / 3 - 2px);

            &:nth-child(1), &:nth-child(2) {
                flex: calc(100% / 2 - 2px);
                max-width: calc(100% / 2 - 2px);  
            }
        }

        &-img {
            width: 100%;
            display: block;
            font-family: 'object-fit:cover', object-fit\:cover;
            height: 100%;
        }

        &-overlay {
            $block: &;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(29, 28, 27, 0);
            transition: background-color 0.2s ease-in-out;
            text-align: center;

            &:hover {
                background-color: rgba(29, 28, 27, 0.85);

            }

            &:hover &__text {
                opacity: 0.95;
            }

            &__text {
                display: block;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                color: $color-secondary;
                font-family: 'Montserrat', sans-serif;
                letter-spacing: 3px;
                font-weight: 700;
                padding: 0 20px;
                text-transform: uppercase;
                font-size: 1.2em;
                opacity: 0;
                transition: opacity 0.3s ease-in-out 0.1s;
            }
        }
    }
}