.video {
   padding: 24px 0;

    &__title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 100;
        text-transform: uppercase;
        margin-bottom: 12px;
        font-size: 0.8em;
        color: $color-tertiary;
        letter-spacing: 2px;
        font-weight: 500;

        @include breakpoint(tablet) {
            font-size: 1em;
        }
    }

    &__container {
        position: relative;
        overflow: hidden;
        height: auto;
        padding-bottom: 56.25%;

        span, div, iframe, object, embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
    }
}